@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

@media all and (max-width: 582px)
{

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: linear-gradient(top, hsl(263, 131%, 47%) 0%,hsl(263, 41%, 47%) 30%,hsl(163, 51%, 47%) 100%);
}

                ul li {
                    width: 100%;
                    display: block;
                    border-radius: None;
                }
                }

@media all and (max-width: 1400px)
{

h1{
    position: relative;
    left: 0px;
}    
header{
    display: flex;
    justify-content: space-between;
    
    
}


*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
body, html{height:100%;}

h1{
    text-decoration: none;
    font-style: oblique;
    background-size: 100vh;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
    
    
}
header{
    
    background-image: linear-gradient(to right, hsl(263, 131%, 47%) 0%,hsl(263, 41%, 47%) 30%,hsl(163, 51%, 47%) 100%);
    display: flex;
}
ul{
    list-style: none;
}
 ul li a{ 

    font-family: 'Roboto', sans-serif;
    background-color: hsl(263, 41%, 47%);
    opacity: 0.9;
    color: ivory;
    list-style: none;
    text-decoration: none;
    float: right;
    padding: 15px;
    margin: 5px;;
    border-radius: 86px;
    
}
 ul li a{
    display: block;
   height: 0.4em;
   line-height: 50%;
}
ul li a:hover{
    background-color: hsl(263, 131%, 47%);
    
}
button{
    border: unset;
    background-color: hsl(163, 51%, 47%);
    color: ivory;
    
    
}
button:hover{
    background-image: linear-gradient(120deg, hsl(263, 131%, 47%) 0%,hsl(263, 41%, 47%) 100%);
    color: whitesmoke;
}

body{
    background-color: hsl(163, 51%, 47%);
    background-image:  linear-gradient(hsl(163, 51%, 47%) 0%,hsl(263, 41%, 47%) 50%),no-repat;
    background-size: 100%;
    
}

div.content {
    
}

div.content div.text
{   display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    size: 100vh;
    background: rgb(236, 236, 131);
    background-image:  linear-gradient(to bottom,hsl(163, 51%, 47%) 0%, hsl(263, 41%, 47%)  79%);
    margin-top: 100PX;
}

.form{
display: flex;
justify-content: center;
margin-top:5%;
}

footer{

    background:linear-gradient(to bottom,hsl(163, 51%, 47%) 0%, hsl(263, 41%, 47%)  79%);
    
    position:absolute;
    
    bottom:0;
    
    width:100%;
    
    padding-top:20%;
    
    height:20%;
    
    }
 footer p{
    display: flex;
    justify-content: center;
 }
