@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap");
@media all and (max-width: 582px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  ul li {
    width: 100%;
    display: block;
    border-radius: None;
  }
}

@media all and (max-width: 1400px) {
  h1 {
    position: relative;
    left: 0px;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  * {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
  }
  h1 {
    text-decoration: none;
    font-style: oblique;
    background-size: 100vh;
    font-size: 2.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1%;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  ul {
    list-style: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  ul li a {
    font-family: 'Roboto', sans-serif;
    background-color: #6c47a9;
    opacity: 0.9;
    color: ivory;
    list-style: none;
    text-decoration: none;
    padding: 15px;
    margin: 5px;
    border-radius: 86px;
  }
  ul li a {
    display: block;
    height: 0.4em;
    line-height: 50%;
  }
  ul li a:hover {
    background-color: #5c00f0;
  }
  button {
    border: unset;
    background-color: #3bb592;
    color: ivory;
  }
  button :hover {
    background-image: linear-gradient(120deg, #5c00f0 0%, #6c47a9 100%);
    color: whitesmoke;
  }
  .titre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 10vh;
  }
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 5%;
  }
  .Card {
    background-color: #fbe0c3;
    aspect-ratio: 1/0.2;
  }
  .Card2 {
    background-color: #ffbb98;
    aspect-ratio: 1/0.2;
  }
  footer {
    background: -webkit-gradient(linear, left top, left bottom, from(#3bb592), color-stop(79%, #6c47a9));
    background: linear-gradient(to bottom, #3bb592 0%, #6c47a9 79%);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 10%;
    height: 10vh;
  }
}
/*# sourceMappingURL=style.css.map */